node-red/flows/demo2.json
[{"id":"549f5cf.0a054a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9974be67.328f2","type":"inject","z":"549f5cf.0a054a4","name":"","topic":"sensors/sensor1","payload":"sensor1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["d7247dab.67e75"]]},{"id":"9bcf475c.262b98","type":"mqtt in","z":"549f5cf.0a054a4","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"af5b1f7a.3ae6a","x":80,"y":340,"wires":[["951f87b4.541678","d1843d27.ae47c"]]},{"id":"d7247dab.67e75","type":"mqtt out","z":"549f5cf.0a054a4","name":"","topic":"","qos":"","retain":"","broker":"af5b1f7a.3ae6a","x":450,"y":180,"wires":[]},{"id":"951f87b4.541678","type":"debug","z":"549f5cf.0a054a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":300,"wires":[]},{"id":"d1843d27.ae47c","type":"switch","z":"549f5cf.0a054a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sensor1","vt":"str"},{"t":"eq","v":"sensor2","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":440,"wires":[["4dc8864d.e64438"],["93aed67c.560328"],[]]},{"id":"c5285903.a25b78","type":"mqtt out","z":"549f5cf.0a054a4","name":"","topic":"actuators/actuator2","qos":"","retain":"","broker":"af5b1f7a.3ae6a","x":830,"y":360,"wires":[]},{"id":"3d285253.cb4fce","type":"inject","z":"549f5cf.0a054a4","name":"","topic":"sensors/sensor2","payload":"sensor2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["d7247dab.67e75"]]},{"id":"6e6f572d.6fd188","type":"mqtt out","z":"549f5cf.0a054a4","name":"","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"4971d4b.dacbb2c","x":940,"y":140,"wires":[]},{"id":"88c06bb7.85ce78","type":"mqtt in","z":"549f5cf.0a054a4","name":"","topic":"actuators/#","qos":"0","datatype":"auto","broker":"af5b1f7a.3ae6a","x":400,"y":560,"wires":[["e392de0a.9790e"]]},{"id":"e392de0a.9790e","type":"debug","z":"549f5cf.0a054a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"4dc8864d.e64438","type":"change","z":"549f5cf.0a054a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"action\": {\"module\": \"multimedia\", \"value\": \"text\", \"data\": {\"file\": \"node\", \"default-sound\": \"notif.mp3\", \"vibration\": 0.5, \"background-color\": \"#00FFFF\"}, \"aref\": \"string\", \"filters\": [] } }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["6e6f572d.6fd188"]]},{"id":"93aed67c.560328","type":"change","z":"549f5cf.0a054a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"actuator2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["c5285903.a25b78"]]},{"id":"4abb7b2a.3a76a4","type":"function","z":"549f5cf.0a054a4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":540,"wires":[[]]},{"id":"af5b1f7a.3ae6a","type":"mqtt-broker","z":"","name":"test-broker","broker":"mqtt.iglor.es","port":"8080","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4971d4b.dacbb2c","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]