node-red/flows/flows(2).json
[{"id":"3c371306.a3a53c","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"b5f8fdf6.32c77","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"true","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#DDAA99"},{"id":"5d2b935a.3655f4","type":"mqtt in","z":"3c371306.a3a53c","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"95877a20.c9b148","x":120,"y":80,"wires":[["b5f8fdf6.32c77"]]},{"id":"b5f8fdf6.32c77","type":"function","z":"3c371306.a3a53c","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"95877a20.c9b148","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"de2c6508.2380c","type":"subflow","name":"Detect Movement","info":"","category":"","in":[],"out":[{"x":520,"y":200,"wires":[{"id":"e4d0ef65.76ed8","port":0}]}],"env":[{"name":"DETECT","type":"bool","value":"true"},{"name":"TOPIC","type":"str","value":""}],"color":"#DDAA99"},{"id":"35cb2735.7f586","type":"switch","z":"de2c6508.2380c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":200,"wires":[["e4d0ef65.76ed8"]]},{"id":"e4d0ef65.76ed8","type":"function","z":"de2c6508.2380c","name":"","func":"msg.payload = env.get(\"DETECT\")\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[[]]},{"id":"28ddb0bd.9eb898","type":"mqtt in","z":"de2c6508.2380c","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"113af370.da6c45","x":80,"y":200,"wires":[["35cb2735.7f586"]]},{"id":"161edd5b.3be8db","type":"subflow","name":"Kalliope text w/background","info":"","category":"","in":[{"x":80,"y":180,"wires":[{"id":"ad1a93cf.ac90d8"}]}],"out":[],"env":[{"name":"TEXT","type":"str","value":""},{"name":"BACKGROUND","type":"str","value":""}],"color":"#DDAA99"},{"id":"626ee270.1d5574","type":"function","z":"161edd5b.3be8db","name":"","func":"\nlet json = '{'+\n'    \"action\": {'+\n'        \"module\": \"multimedia\",'+\n'        \"value\": \"text\",'+\n'        \"data\": {'+\n'            \"file\": \"' + env.get(\"TEXT\") + '\",'+\n'            \"default-sound\": \"sound.mp3\",'+\n'            \"vibration\": 0.5,'+\n'            \"background-color\": \"#' + env.get(\"BACKGROUND\") + '\"'+\n'        },'+\n'        \"aref\": \"string\"'+\n'    }'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["569aa9fe.293108"]]},{"id":"569aa9fe.293108","type":"mqtt out","z":"161edd5b.3be8db","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"cc8a5a7b.2fe17","x":620,"y":180,"wires":[]},{"id":"ad1a93cf.ac90d8","type":"switch","z":"161edd5b.3be8db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["626ee270.1d5574"]]},{"id":"33ec72c9.d1375e","type":"subflow","name":"Turn off flashlights","info":"","category":"","in":[{"x":200,"y":160,"wires":[{"id":"9b6ed7b6.d4c69"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"5030fd99.adb82c","type":"function","z":"33ec72c9.d1375e","name":"","func":"\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": false,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["3ade11cc.fe5ab6"]]},{"id":"3ade11cc.fe5ab6","type":"mqtt out","z":"33ec72c9.d1375e","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"cc8a5a7b.2fe17","x":700,"y":160,"wires":[]},{"id":"9b6ed7b6.d4c69","type":"switch","z":"33ec72c9.d1375e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":160,"wires":[["5030fd99.adb82c"]]},{"id":"3816f4ce.1b7f6c","type":"subflow","name":"Turn on flashlights","info":"","category":"","in":[{"x":100,"y":180,"wires":[{"id":"c92e3cf.620464"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"76d8ed98.e18d9c","type":"mqtt out","z":"3816f4ce.1b7f6c","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"cc8a5a7b.2fe17","x":640,"y":180,"wires":[]},{"id":"aecf168c.262488","type":"function","z":"3816f4ce.1b7f6c","name":"","func":"\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": true,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["76d8ed98.e18d9c"]]},{"id":"c92e3cf.620464","type":"switch","z":"3816f4ce.1b7f6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":180,"wires":[["aecf168c.262488"]]},{"id":"cc8a5a7b.2fe17","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8899c1a8.550528","type":"subflow","name":"Detect door movement (0 close 1 open)","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"eecf7155.5c59a","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"SENSOR_ID","type":"num","value":""},{"name":"DOORSTATUS","type":"num","value":""}],"color":"#DDAA99"},{"id":"22f43ada.e820b6","type":"mqtt in","z":"8899c1a8.550528","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"113af370.da6c45","x":240,"y":100,"wires":[["eecf7155.5c59a"]]},{"id":"eecf7155.5c59a","type":"function","z":"8899c1a8.550528","name":"Check door action","func":"\nvar doorstat = msg.payload.DATA[0].VALUE;\n\nlet door_movement = env.get(\"DOORSTATUS\");\n\nmsg.payload = door_movement == doorstat;\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"be7db759.197e8","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"36055282.81c6ae","type":"inject","z":"be7db759.197e8","name":"Activador para enviar texto a Kalliope","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":460,"wires":[["e0d36998.bb734"]]},{"id":"936390e6.8142d8","type":"inject","z":"be7db759.197e8","name":"Door simulator - OPEN","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["9ef9fc38.ca2798"]]},{"id":"9ef9fc38.ca2798","type":"mqtt out","z":"be7db759.197e8","name":"","topic":"door-topic","qos":"","retain":"","broker":"113af370.da6c45","x":490,"y":100,"wires":[]},{"id":"56b6215b.fe3ec","type":"subflow:8899c1a8.550528","z":"be7db759.197e8","name":"","env":[{"name":"TOPIC","value":"door-topic","type":"str"},{"name":"DOORSTATUS","value":"1","type":"num"},{"name":"VALUE","value":"1","type":"num"}],"x":230,"y":220,"wires":[["ab6a65fa.486ea","ce845d12.7916b"]]},{"id":"ab6a65fa.486ea","type":"subflow:3816f4ce.1b7f6c","z":"be7db759.197e8","name":"","env":[],"x":530,"y":240,"wires":[]},{"id":"aea4e39e.5446c8","type":"subflow:33ec72c9.d1375e","z":"be7db759.197e8","name":"","env":[],"x":550,"y":300,"wires":[]},{"id":"e664f8db.e2cf48","type":"subflow:8899c1a8.550528","z":"be7db759.197e8","name":"","env":[{"name":"TOPIC","value":"door-topic","type":"str"},{"name":"DOORSTATUS","value":"0","type":"num"},{"name":"VALUE","value":"1","type":"num"}],"x":230,"y":280,"wires":[["aea4e39e.5446c8","fce8a526.a49aa8"]]},{"id":"46ee3eec.e9128","type":"inject","z":"be7db759.197e8","name":"Door simulator - CLOSE","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["9ef9fc38.ca2798"]]},{"id":"ce845d12.7916b","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"Bienvenido a Senor Escape Room","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"}],"x":560,"y":200,"wires":[]},{"id":"fce8a526.a49aa8","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"Que tengas un buen día","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"}],"x":560,"y":360,"wires":[]},{"id":"e0d36998.bb734","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"Elige un camino, izquierda o recto","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"}],"x":560,"y":460,"wires":[]},{"id":"4570fa50.642be4","type":"inject","z":"be7db759.197e8","name":"Activador para detectar movimiento incorrecto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":520,"wires":[["eadc3667.af648"]]},{"id":"bee2e55c.7e29","type":"subflow:de2c6508.2380c","z":"be7db759.197e8","name":"","env":[{"name":"TOPIC","value":"detect-topic-inc","type":"str"}],"x":310,"y":660,"wires":[["37b70d56.b462ea"]]},{"id":"37b70d56.b462ea","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"CAMINO ERRONEO","type":"str"},{"name":"BACKGROUND","value":"FF5733","type":"str"}],"x":580,"y":660,"wires":[]},{"id":"82430b10.6b953","type":"inject","z":"be7db759.197e8","name":"Activador para detectar movimiento correcto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":600,"wires":[["4eb6b330.0bb4c4"]]},{"id":"d52e2557.fa932","type":"subflow:de2c6508.2380c","z":"be7db759.197e8","name":"","env":[{"name":"TOPIC","value":"detect-topic-corr","type":"str"}],"x":290,"y":740,"wires":[["d9880978.c892c"]]},{"id":"d9880978.c892c","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"CAMINO CORRECTO","type":"str"},{"name":"BACKGROUND","value":"4FFF33","type":"str"}],"x":560,"y":740,"wires":[]},{"id":"326738bb.d17af8","type":"subflow:3c371306.a3a53c","z":"be7db759.197e8","name":"","env":[{"name":"TOPIC","value":"lights-topic","type":"str"},{"name":"COLOUR","value":"WHITE","type":"str"}],"x":280,"y":900,"wires":[["4260a551.20fb2c"]]},{"id":"4260a551.20fb2c","type":"subflow:161edd5b.3be8db","z":"be7db759.197e8","name":"","env":[{"name":"TEXT","value":"Primer puzle encontrado","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"}],"x":580,"y":900,"wires":[]},{"id":"42daba79.0ebdf4","type":"inject","z":"be7db759.197e8","name":"Activador de llum blanca","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":100,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":840,"wires":[["431e5039.b2a39"]]},{"id":"431e5039.b2a39","type":"mqtt out","z":"be7db759.197e8","name":"","topic":"lights-topic","qos":"","retain":"","broker":"95877a20.c9b148","x":430,"y":820,"wires":[]},{"id":"eadc3667.af648","type":"mqtt out","z":"be7db759.197e8","name":"","topic":"detect-topic-inc","qos":"","retain":"","broker":"113af370.da6c45","x":600,"y":520,"wires":[]},{"id":"4eb6b330.0bb4c4","type":"mqtt out","z":"be7db759.197e8","name":"","topic":"detect-topic-corr","qos":"","retain":"","broker":"113af370.da6c45","x":610,"y":580,"wires":[]},{"id":"113af370.da6c45","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]