node-red/flows/testing.json
[{"id":"70ac4aa9.079a2c","type":"subflow","name":"Detect temperature","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"ab42c4be.964578","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"TEMPERATURE","type":"num","value":"","ui":{"label":{"en-US":"Temperature"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"43e8d7bb.34c29","type":"mqtt in","z":"70ac4aa9.079a2c","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"a8a55786.ed56d","x":190,"y":100,"wires":[["ab42c4be.964578"]]},{"id":"ab42c4be.964578","type":"function","z":"70ac4aa9.079a2c","name":"Check temperature","func":"\nvar sensor_temperature = msg.payload.DATA[0].VALUE;\n\nlet user_temperature = env.get(\"TEMPERATURE\");\n\nmsg.payload = sensor_temperature == user_temperature;\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"11a6cc1f.1e94d4","type":"subflow","name":"Turn on/off relay (2)","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"19b4cdae.c0860a"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"4fa41741.132b3","type":"mqtt out","z":"11a6cc1f.1e94d4","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"a8a55786.ed56d","x":580,"y":140,"wires":[]},{"id":"19b4cdae.c0860a","type":"switch","z":"11a6cc1f.1e94d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["c7e15338.ba7b18"]]},{"id":"c7e15338.ba7b18","type":"function","z":"11a6cc1f.1e94d4","name":"","func":"\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["4fa41741.132b3"]]},{"id":"2d4551a.27fc6ae","type":"subflow","name":"Detect color light (2)","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"18574bad.8085dc","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#DDAA99"},{"id":"ee53180b.77b08","type":"mqtt in","z":"2d4551a.27fc6ae","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"a8a55786.ed56d","x":120,"y":80,"wires":[["18574bad.8085dc"]]},{"id":"18574bad.8085dc","type":"function","z":"2d4551a.27fc6ae","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"7c57a001.6e9a38","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"565acdd9.1b9a84","type":"inject","z":"7c57a001.6e9a38","name":"Glove light simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["ea6f2764.8bf67"]]},{"id":"ea6f2764.8bf67","type":"mqtt out","z":"7c57a001.6e9a38","name":"","topic":"lights-topic","qos":"","retain":"","broker":"a8a55786.ed56d","x":370,"y":100,"wires":[]},{"id":"b2b149f6.3f1fc","type":"subflow:2d4551a.27fc6ae","z":"7c57a001.6e9a38","name":"","env":[{"name":"TOPIC","value":"omar","type":"str"},{"name":"COLOUR","value":"RED","type":"str"}],"x":140,"y":180,"wires":[["ec8e6b2e.579418"]]},{"id":"ec8e6b2e.579418","type":"subflow:11a6cc1f.1e94d4","z":"7c57a001.6e9a38","name":"","env":[{"name":"TOPIC","value":"relay-topic","type":"str"},{"name":"ACTION","value":"off","type":"str"},{"name":"SECONDS","value":"3000","type":"num"}],"x":400,"y":180,"wires":[]},{"id":"42935995.5f7a7","type":"inject","z":"7c57a001.6e9a38","name":"Glove temperature simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"temperature\",\"DATA\":[{\"NAME\":\"degC\",\"VALUE\":23,\"DELTA_T\":3260}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["34b125ef.4856ca"]]},{"id":"34b125ef.4856ca","type":"mqtt out","z":"7c57a001.6e9a38","name":"","topic":"temperature-topic","qos":"","retain":"","broker":"a8a55786.ed56d","x":500,"y":300,"wires":[]},{"id":"da166971.5dc3e","type":"subflow:70ac4aa9.079a2c","z":"7c57a001.6e9a38","name":"","env":[{"name":"TOPIC","value":"temperature-topic","type":"str"},{"name":"TEMPERATURE","value":"24","type":"num"}],"x":160,"y":400,"wires":[["97fe41ad.7c43f8"]]},{"id":"97fe41ad.7c43f8","type":"debug","z":"7c57a001.6e9a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":400,"wires":[]},{"id":"a8a55786.ed56d","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]