node-red/subflows/detect_color_light.json
[{"id":"6ac7f23d.fb1964","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"fab5eb9f.5edd78","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"true","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#DDAA99"},{"id":"303be8e5.d531a8","type":"mqtt in","z":"6ac7f23d.fb1964","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"d0fd36d1.f4a9b","x":120,"y":80,"wires":[["fab5eb9f.5edd78"]]},{"id":"fab5eb9f.5edd78","type":"function","z":"6ac7f23d.fb1964","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"d0fd36d1.f4a9b","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]