node-red/subflows/detect_temperature.json
[{"id":"9ea7ad8f.4030e","type":"subflow","name":"Detect temperature","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"33e49c72.352634","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"TEMPERATURE_MIN","type":"num","value":"","ui":{"label":{"en-US":"Temperature minum"},"type":"spinner","opts":{"min":10,"max":25}}},{"name":"TEMPERATURE_MAX","type":"num","value":"","ui":{"label":{"en-US":"Temperature maximum"},"type":"spinner","opts":{"min":25,"max":45}}}],"color":"#DDAA99"},{"id":"61d06816.858128","type":"mqtt in","z":"9ea7ad8f.4030e","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"dad7b2bf.9eee9","x":190,"y":100,"wires":[["33e49c72.352634"]]},{"id":"33e49c72.352634","type":"function","z":"9ea7ad8f.4030e","name":"Check temperature","func":"\nvar sensor_temperature = msg.payload.DATA[0].VALUE;\n\nlet user_temperature_min = env.get(\"TEMPERATURE_MIN\");\n\nlet user_temperature_max = env.get(\"TEMPERATURE_MAX\");\n\nif(sensor_temperature >= user_temperature_min && sensor_temperature<=user_temperature_max) {\n    msg.payload = true;\n}\nelse msg.payload = false;\n\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"dad7b2bf.9eee9","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]