node-red/subflows/detect_temperature.json
[{"id":"70ac4aa9.079a2c","type":"subflow","name":"Detect temperature","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"ab42c4be.964578","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"TEMPERATURE","type":"num","value":"","ui":{"label":{"en-US":"Temperature"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"43e8d7bb.34c29","type":"mqtt in","z":"70ac4aa9.079a2c","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"a8a55786.ed56d","x":190,"y":100,"wires":[["ab42c4be.964578"]]},{"id":"ab42c4be.964578","type":"function","z":"70ac4aa9.079a2c","name":"Check temperature","func":"\nvar sensor_temperature = msg.payload.DATA[0].VALUE;\n\nlet user_temperature = env.get(\"TEMPERATURE\");\n\nmsg.payload = sensor_temperature == user_temperature;\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"a8a55786.ed56d","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]