node-red/subflows/lightexamplev1.json
[{
    "id": "6d36e21e.b7c98c",
    "type": "subflow",
    "name": "Recibir Luz",
    "info": "",
    "category": "",
    "in": [{
        "x": 160,
        "y": 80,
        "wires": [{
            "id": "b16466f7.b22b8"
        }]
    }],
    "out": [{
        "x": 580,
        "y": 80,
        "wires": [{
            "id": "b16466f7.b22b8",
            "port": 0
        }]
    }],
    "env": [],
    "color": "#DDAA99"
}, {
    "id": "b16466f7.b22b8",
    "type": "function",
    "z": "6d36e21e.b7c98c",
    "name": "",
    "func": "\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\n\nvar lum = msg.payload.DATA[4].VALUE;\n\nif ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10)) { \n    msg.payload = \"blanca\";\n} else {\n    msg.payload = \"negra\";\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 80,
    "wires": [
        []
    ]
}, {
    "id": "66b665a6.48578c",
    "type": "subflow",
    "name": "Activar Soplador",
    "info": "",
    "category": "",
    "in": [{
        "x": 260,
        "y": 140,
        "wires": [{
            "id": "df4ce98b.38d978"
        }]
    }],
    "out": [],
    "env": [],
    "color": "#DDAA99"
}, {
    "id": "df4ce98b.38d978",
    "type": "debug",
    "z": "66b665a6.48578c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 430,
    "y": 140,
    "wires": []
}, {
    "id": "4a06b41c.158204",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
}, {
    "id": "fadfd5b4.abfa68",
    "type": "inject",
    "z": "4a06b41c.158204",
    "name": "",
    "topic": "sensors/sensor1light",
    "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":100,\"DELTA_T\":4775}]}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 140,
    "wires": [
        ["77bf16d5.0c436"]
    ]
}, {
    "id": "76aa4267.0614ec",
    "type": "mqtt in",
    "z": "4a06b41c.158204",
    "name": "",
    "topic": "sensors/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "2fcb54d4.6fe694",
    "x": 80,
    "y": 340,
    "wires": [
        ["98983a85.e7e198", "3ed4666d.f4da5a"]
    ]
}, {
    "id": "c05c3fa7.2130f8",
    "type": "mqtt out",
    "z": "4a06b41c.158204",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "2fcb54d4.6fe694",
    "x": 790,
    "y": 80,
    "wires": []
}, {
    "id": "98983a85.e7e198",
    "type": "debug",
    "z": "4a06b41c.158204",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 310,
    "y": 300,
    "wires": []
}, {
    "id": "39de677.6ffb618",
    "type": "inject",
    "z": "4a06b41c.158204",
    "name": "",
    "topic": "sensors/sensor1nolight",
    "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":0,\"DELTA_T\":4775}]}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 220,
    "wires": [
        ["77bf16d5.0c436"]
    ]
}, {
    "id": "50413e21.cebb8",
    "type": "subflow:66b665a6.48578c",
    "z": "4a06b41c.158204",
    "name": "",
    "env": [],
    "x": 510,
    "y": 400,
    "wires": []
}, {
    "id": "77bf16d5.0c436",
    "type": "subflow:6d36e21e.b7c98c",
    "z": "4a06b41c.158204",
    "name": "",
    "env": [],
    "x": 470,
    "y": 160,
    "wires": [
        ["b56c31d9.e5e09"]
    ]
}, {
    "id": "b56c31d9.e5e09",
    "type": "switch",
    "z": "4a06b41c.158204",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "blanca",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "negra",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 120,
    "wires": [
        ["c05c3fa7.2130f8"],
        ["7d7e1630.6120e8"]
    ]
}, {
    "id": "7d7e1630.6120e8",
    "type": "debug",
    "z": "4a06b41c.158204",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 810,
    "y": 160,
    "wires": []
}, {
    "id": "3ed4666d.f4da5a",
    "type": "change",
    "z": "4a06b41c.158204",
    "name": "",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"TY\":\"ACTION\",\"ID\":\"relay\",\"VALUE\":\"on\",\"DELTA_T\":5000}",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 240,
    "y": 400,
    "wires": [
        ["50413e21.cebb8"]
    ]
}, {
    "id": "2fcb54d4.6fe694",
    "type": "mqtt-broker",
    "z": "",
    "name": "test-broker",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "test-client",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
}]