node-red/subflows/turn_on_off_relay.json
[{"id":"b07c082e.1641a8","type":"subflow","name":"Turn on/off relay","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"b9f583c4.3abcd8"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"4aede0bc.c646c8","type":"mqtt out","z":"b07c082e.1641a8","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"d0fd36d1.f4a9b","x":580,"y":140,"wires":[]},{"id":"b9f583c4.3abcd8","type":"switch","z":"b07c082e.1641a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["d0177090.cf8da8"]]},{"id":"d0177090.cf8da8","type":"function","z":"b07c082e.1641a8","name":"Turn on/off relay","func":"\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["4aede0bc.c646c8"]]},{"id":"d0fd36d1.f4a9b","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]