node-red/subflows/Turn onoff mobile light.json
[{"id":"9890f5e8.ca66d","type":"subflow","name":"Turn on/off mobile light","info":"","category":"","in":[],"out":[],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"SENSOR_ID","type":"str","value":""},{"name":"SECONDS","type":"num","value":"2"},{"name":"ACTION","type":"str","value":"true","ui":{"label":{"en-US":"ACTION"},"type":"select","opts":{"opts":[{"l":{"en-US":"On"},"v":"true"},{"l":{"en-US":"Off"},"v":"false"}]}}}],"color":"#DDAA99"},{"id":"6e3a282b.9d3ad8","type":"mqtt out","z":"9890f5e8.ca66d","name":"","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"95877a20.c9b148","x":780,"y":180,"wires":[]},{"id":"6250cc42.7a094c","type":"mqtt in","z":"9890f5e8.ca66d","name":"","topic":"${TOPIC}","qos":"2","datatype":"auto","broker":"924a3f88.9b887","x":200,"y":180,"wires":[["359f3db7.9658d2"]]},{"id":"359f3db7.9658d2","type":"function","z":"9890f5e8.ca66d","name":"Detect light","func":"let json = \n    '{' +\n        '\"action\": {' +\n            '\"module\": \"hardware\",' +\n            '\"value\": \"torch\",' +\n            '\"data\": {' +\n                '\"torch\": [{' +\n                    '\"active\":\"'+env.get(\"ACTION\") + '\",' +\n                    '\"seconds\":\"' + env.get(\"SECONDS\") + '\",' +\n                '}],' +\n                '\"default-sound\": \"sound.mp3\",' +\n                '\"vibration\": 0.5,' +\n                '\"loop\": false' +\n            '},' +\n            '\"aref\": \"string\",' +\n            '\"filters\": []' + \n        '}' +\n    '}';\n\nmsg.payload = JSON.parse(json)      \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["6e3a282b.9d3ad8"]]},{"id":"95877a20.c9b148","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"924a3f88.9b887","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]