node-red/.flows.json 2.json
[{"id":"167c2d98.9a7b32","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"934da7ae.029e","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"e04a0ca8.026368","type":"tab","label":"SIMULATORS","disabled":false,"info":""},{"id":"c8428cb3.c20e9","type":"subflow","name":"Turn on/off relay","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"93730624.4ca248"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"3037392c.848006","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[]}],"env":[{"name":"TOPIC","type":"str","value":"true","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#3FADB5"},{"id":"ea42de.870d152","type":"subflow","name":"Kalliope text with background","info":"","category":"","in":[{"x":80,"y":180,"wires":[{"id":"ad33842e.30fe88"}]}],"out":[],"env":[{"name":"TEXT","type":"str","value":"text","ui":{"label":{"en-US":"Text"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BACKGROUND","type":"str","value":"#FFFF00","ui":{"label":{"en-US":"Background"},"type":"input","opts":{"types":["str"]}}},{"name":"VIBRATION","type":"num","value":"1","ui":{"label":{"en-US":"Vibration"},"type":"spinner","opts":{"min":0,"max":10}}}],"color":"#DDAA99"},{"id":"7dfcabe.7edd2d4","type":"subflow","name":"Turn off torch","info":"","category":"","in":[{"x":200,"y":160,"wires":[{"id":"74a90d4b.27fe0c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"f6f27105.2ac6d","type":"subflow","name":"Turn on torch","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"9f29e060.e16a48"}]}],"out":[],"env":[{"name":"DURATION","type":"num","value":"0","ui":{"label":{"en-US":"Duration"},"type":"input","opts":{"types":["num"]}}},{"name":"VIBRATION","type":"num","value":"1","ui":{"label":{"en-US":"Vibration"},"type":"spinner","opts":{"min":0,"max":10}}}],"color":"#DDAA99"},{"id":"feccd02.8226b3","type":"subflow","name":"Detect bomb","info":"","category":"","in":[],"out":[{"x":660,"y":160,"wires":[{"id":"b4d706e.878c178","port":0}]}],"env":[],"color":"#3FADB5"},{"id":"9ddacc72.069b1","type":"subflow","name":"When","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"60d8a3ad.fa8684"}]}],"out":[{"x":1120,"y":400,"wires":[{"id":"637f37b1.9338d8","port":0}]}],"env":[{"name":"DELAY","type":"num","value":"0","ui":{"label":{"en-US":"Delay"},"type":"input","opts":{"types":["num"]}}},{"name":"FREQUENCY","type":"str","value":"Once","ui":{"label":{"en-US":"Frequency"},"type":"select","opts":{"opts":[{"l":{"en-US":"Once"},"v":"ONCE"},{"l":{"en-US":"Every X seconds"},"v":"EVERY"}]}}},{"name":"SECONDS","type":"num","value":"5","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}},{"name":"STATE","type":"num","value":"0","ui":{"label":{"en-US":"State"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"1de28fac.c7f128","type":"subflow","name":"Detect temperature","info":"","category":"","in":[],"out":[{"x":760,"y":100,"wires":[{"id":"6e55d21f.b0651c","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"TEMPERATURE","type":"str","value":""},{"name":"COMPARISON","type":"str","value":"","ui":{"label":{"en-US":"COMPARISON"},"type":"select","opts":{"opts":[{"l":{"en-US":"GREATER"},"v":"GREATER"},{"l":{"en-US":"LOWER"},"v":"LOWER"}]}}},{"name":"STATE","type":"num","value":"","ui":{"label":{"en-US":"State"},"type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5"},{"id":"f5799d1.fe6b36","type":"subflow","name":"Increment state","info":"","category":"","in":[{"x":140,"y":160,"wires":[{"id":"99c272ff.bd17d"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b399f87.2de3e08","type":"subflow","name":"Reset state","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"f6b3d0ba.91d708"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b1c5a161.450a6","type":"subflow","name":"Turn off torch","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"c4c6eb8a.e1e4d"}]}],"out":[],"env":[{"name":"VIBRATION","type":"num","value":"1","ui":{"label":{"en-US":"Vibration"},"type":"spinner","opts":{"min":0,"max":10}}}],"color":"#DDAA99"},{"id":"4168f547.6a114c","type":"subflow","name":"Flash torch","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"66531511.4534c4"}]}],"out":[],"env":[{"name":"DURATION","type":"num","value":"0","ui":{"label":{"en-US":"Duration"},"type":"input","opts":{"types":["num"]}}},{"name":"VIBRATION","type":"num","value":"1","ui":{"label":{"en-US":"Vibration"},"type":"spinner","opts":{"min":0,"max":10}}},{"name":"TIMER_ON","type":"num","value":"0.5","ui":{"label":{"en-US":"Timer ON"},"type":"input","opts":{"types":["num"]}}},{"name":"TIMER_OFF","type":"num","value":"0.5","ui":{"label":{"en-US":"Timer off"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"34ac1fc0.ff7f5","type":"subflow","name":"Kalliope webview","info":"","category":"","in":[{"x":80,"y":180,"wires":[{"id":"ce596699.704fd8"}]}],"out":[],"env":[{"name":"URL","type":"str","value":"","ui":{"label":{"en-US":"URL"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"VIBRATION","type":"num","value":"","ui":{"label":{"en-US":"Vibration"},"type":"spinner","opts":{"min":0,"max":10}}}],"color":"#DDAA99"},{"id":"735d4d84.8280e4","type":"subflow","name":"Detect light","info":"","category":"","in":[],"out":[{"x":760,"y":100,"wires":[{"id":"18061ebd.305541","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"THRESHOLD","type":"str","value":"100"},{"name":"STATUS","type":"str","value":"","ui":{"label":{"en-US":"COMPARISON"},"type":"select","opts":{"opts":[{"l":{"en-US":"ON"},"v":"ON"},{"l":{"en-US":"OFF"},"v":"OFF"}]}}}],"color":"#3FADB5"},{"id":"8e91f18b.db1578","type":"subflow","name":"Detect Movement","info":"","category":"","in":[],"out":[{"x":1000,"y":200,"wires":[{"id":"eec4944e.a6843","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"action"},"type":"select","opts":{"opts":[{"l":{"en-US":"UP"},"v":"UP"},{"l":{"en-US":"DOWN"},"v":"DOWN"}]}}}],"color":"#3FADB5"},{"id":"dad7b2bf.9eee9","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"90e85e7.1f4d0a","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec77491a.f0fda","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"26cabb6a.f4edb4","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e12f50ae.4d0d48","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a74e06e9.8762c8","type":"inject","z":"167c2d98.9a7b32","name":"Glove light simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["86ffddf7.45aea"]]},{"id":"86ffddf7.45aea","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"lights-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":490,"y":120,"wires":[]},{"id":"3bba2718.7e2f18","type":"inject","z":"167c2d98.9a7b32","name":"Glove temperature simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"temperature\",\"DATA\":[{\"NAME\":\"degC\",\"VALUE\":23,\"DELTA_T\":3260}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":60,"wires":[["89322093.c21ea"]]},{"id":"89322093.c21ea","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"temperature-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":510,"y":60,"wires":[]},{"id":"15ac36f6.15ec01","type":"mqtt out","z":"167c2d98.9a7b32","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"90e85e7.1f4d0a","x":500,"y":760,"wires":[]},{"id":"35e59684.d7ef3a","type":"inject","z":"167c2d98.9a7b32","name":"apagar llenterna","topic":"","payload":"{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":false,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":760,"wires":[["15ac36f6.15ec01"]]},{"id":"6ac14011.f7bbf","type":"inject","z":"167c2d98.9a7b32","name":"encendre llenterna","topic":"","payload":"{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":true,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":700,"wires":[["15ac36f6.15ec01"]]},{"id":"fd3af5c7.450bb8","type":"inject","z":"167c2d98.9a7b32","name":"text que diu ola","topic":"","payload":"{\"action\":{\"module\":\"multimedia\",\"value\":\"text\",\"data\":{\"file\":\"ola\",\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"background-color\":\"#00FFFF\"},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["15ac36f6.15ec01"]]},{"id":"dd19daf9.ac58d","type":"inject","z":"167c2d98.9a7b32","name":"Door simulator - OPEN","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["eb12ae96.f0076"]]},{"id":"eb12ae96.f0076","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"door-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":510,"y":200,"wires":[]},{"id":"c9274df0.1c9278","type":"inject","z":"167c2d98.9a7b32","name":"Door simulator - CLOSE","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["eb12ae96.f0076"]]},{"id":"8334caba.1312c8","type":"mqtt out","z":"c8428cb3.c20e9","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":580,"y":140,"wires":[]},{"id":"93730624.4ca248","type":"switch","z":"c8428cb3.c20e9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["6a2dae4f.6e60f"]]},{"id":"6a2dae4f.6e60f","type":"function","z":"c8428cb3.c20e9","name":"","func":"\nlet json = {\n        \"TY\": \"ACTION\",\n        \"ID\": \"relay\",\n        \"VALUE\": env.get(\"ACTION\"),\n        \"DELTA_T\": env.get(\"SECONDS\")\n};\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["8334caba.1312c8"]]},{"id":"799bfa9.6af3f84","type":"mqtt in","z":"3037392c.848006","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"ec77491a.f0fda","x":120,"y":80,"wires":[[]]},{"id":"aa006bb5.dfdda8","type":"function","z":"ea42de.870d152","name":"","func":"let json = {\n        \"action\": {\n            \"module\": \"multimedia\",\n            \"value\": \"text\",\n            \"data\": {\n                \"file\": env.get(\"TEXT\"),\n                \"default-sound\": \"notif.mp3\",\n                \"vibration\": env.get(\"VIBRATION\"),\n                \"background-color\": env.get(\"BACKGROUND\"),\n            },\n            \"aref\": \"string\",\n            \"filters\": []\n        }\n    }\n\nmsg.payload = JSON.stringify(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["f81473db.d98b38"]]},{"id":"f81473db.d98b38","type":"mqtt out","z":"ea42de.870d152","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":620,"y":180,"wires":[]},{"id":"ad33842e.30fe88","type":"switch","z":"ea42de.870d152","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["aa006bb5.dfdda8"]]},{"id":"643a86f3.279e58","type":"function","z":"7dfcabe.7edd2d4","name":"","func":"\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": false,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["cdc6c240.734ff"]]},{"id":"cdc6c240.734ff","type":"mqtt out","z":"7dfcabe.7edd2d4","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":700,"y":160,"wires":[]},{"id":"74a90d4b.27fe0c","type":"switch","z":"7dfcabe.7edd2d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":160,"wires":[["643a86f3.279e58"]]},{"id":"c7de82e0.d34c7","type":"mqtt out","z":"f6f27105.2ac6d","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":580,"y":180,"wires":[]},{"id":"278e1c39.e78804","type":"function","z":"f6f27105.2ac6d","name":"","func":"\nvar always_on = false;\n\nif (env.get(\"DURATION\") === 0) always_on = true;\n\nlet json = {\n        \"action\": {\n            \"module\": \"hardware\",\n            \"value\": \"torch\",\n            \"data\": {\n                \"torch\": [{\n                    \"active\": true,\n                    \"seconds\": env.get(\"DURATION\")\n                },\n                {\n                    \"active\": always_on,\n                    \"seconds\": 1\n                }],\n                \"default-sound\": \"sound.mp3\",\n                \"vibration\": env.get(\"VIBRATION\"),\n                \"loop\": false\n            },\n        },\n        \"aref\": \"string\",\n        \"filters\": []\n    }\n\nmsg.payload = JSON.stringify(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["c7de82e0.d34c7"]]},{"id":"9f29e060.e16a48","type":"switch","z":"f6f27105.2ac6d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":180,"wires":[["278e1c39.e78804"]]},{"id":"310b2465.61eaa4","type":"subflow:f6f27105.2ac6d","z":"934da7ae.029e","name":"","env":[],"x":510,"y":60,"wires":[]},{"id":"f97ac25e.199f4","type":"subflow:7dfcabe.7edd2d4","z":"934da7ae.029e","name":"","env":[],"x":510,"y":140,"wires":[]},{"id":"fa128f9f.a7e778","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"No has escapado, suerte en la vida.","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":180,"wires":[]},{"id":"16c8a5f9.21da4a","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Has fracasado, como en la vida. Vuelve a intentarlo!","type":"str"},{"name":"BACKGROUND","value":"FF5733","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":240,"wires":[]},{"id":"d45a36ee.956c78","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Por fin haces algo bien!","type":"str"},{"name":"BACKGROUND","value":"4FFF33","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":320,"wires":[]},{"id":"5a52712c.8594f","type":"subflow:3037392c.848006","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"lights-topic","type":"str"},{"name":"COLOUR","value":"WHITE","type":"str"}],"x":140,"y":380,"wires":[["1070bfc4.2637"]]},{"id":"1070bfc4.2637","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Desactiva la bomba, buena suerte!","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":380,"wires":[]},{"id":"e504f162.17aec8","type":"inject","z":"e04a0ca8.026368","name":"Door simulator - OPEN","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["cab08c5a.df5f"]]},{"id":"cab08c5a.df5f","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"door-topic","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":770,"y":220,"wires":[]},{"id":"74dc37ed.70bef8","type":"inject","z":"e04a0ca8.026368","name":"Door simulator - CLOSE","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["cab08c5a.df5f"]]},{"id":"e7fc30ae.9aa378","type":"inject","z":"e04a0ca8.026368","name":"Activador para enviar texto a Kalliope","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["6d186070.ad34b"]]},{"id":"6d186070.ad34b","type":"subflow:ea42de.870d152","z":"e04a0ca8.026368","name":"","env":[{"name":"TEXT","value":"La vida son decisiones, elige. IZQUIERDA O RECTO!!","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":610,"y":120,"wires":[]},{"id":"1c645f68.43ece1","type":"inject","z":"e04a0ca8.026368","name":"Activador para detectar movimiento incorrecto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["88c4f21.afbbc9"]]},{"id":"68b2b521.79694c","type":"inject","z":"e04a0ca8.026368","name":"Activador para detectar movimiento correcto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":260,"wires":[["7b7c0481.6a04ac"]]},{"id":"88c4f21.afbbc9","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"detect-topic-inc","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":580,"y":180,"wires":[]},{"id":"7b7c0481.6a04ac","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"detect-topic-corr","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":550,"y":260,"wires":[]},{"id":"57192f2.b25e5d","type":"inject","z":"e04a0ca8.026368","name":"Activador de llum blanca","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":100,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["c70a94a3.e58bc"]]},{"id":"c70a94a3.e58bc","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"lights-topic","qos":"","retain":"","broker":"ec77491a.f0fda","x":490,"y":320,"wires":[]},{"id":"bc3e7cda.d3f4b8","type":"mqtt in","z":"feccd02.8226b3","name":"","topic":"3522109c644e08605c46308a880dcb7d/raspberry","qos":"2","datatype":"auto","broker":"90e85e7.1f4d0a","x":190,"y":160,"wires":[["b4d706e.878c178"]]},{"id":"50f86ef.1a1429","type":"subflow:feccd02.8226b3","z":"934da7ae.029e","name":"","env":[],"x":130,"y":440,"wires":[["908378a3.569a7","ddbeaf8a.66b2"]]},{"id":"908378a3.569a7","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"BOOOOOOM!!! HAS MUERTO PAE","type":"str"},{"name":"BACKGROUND","value":"FF5733","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":460,"wires":[]},{"id":"e1ac210c.8f387","type":"debug","z":"feccd02.8226b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":260,"wires":[]},{"id":"b4d706e.878c178","type":"change","z":"feccd02.8226b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["e1ac210c.8f387"]]},{"id":"ddbeaf8a.66b2","type":"subflow:f6f27105.2ac6d","z":"934da7ae.029e","name":"","env":[],"x":510,"y":520,"wires":[]},{"id":"954451b1.5d571","type":"delay","z":"9ddacc72.069b1","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":400,"wires":[["637f37b1.9338d8"]]},{"id":"83f8230d.9367b","type":"change","z":"9ddacc72.069b1","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"DELAY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["346be162.c9828e"]]},{"id":"50859300.4f1224","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["2b57a00.73d8a6"]]},{"id":"2b57a00.73d8a6","type":"subflow:9ddacc72.069b1","z":"167c2d98.9a7b32","name":"","env":[{"name":"FREQUENCY","value":"EVERY","type":"str"}],"x":330,"y":400,"wires":[["5b5865e5.f8ae74"]]},{"id":"5b5865e5.f8ae74","type":"debug","z":"167c2d98.9a7b32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":480,"wires":[]},{"id":"afa601d7.8555b8","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["b81f912d.a2458"]]},{"id":"93b1c7d4.3ea7b8","type":"debug","z":"167c2d98.9a7b32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"b81f912d.a2458","type":"delay","z":"167c2d98.9a7b32","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":500,"wires":[["93b1c7d4.3ea7b8"]]},{"id":"346be162.c9828e","type":"function","z":"9ddacc72.069b1","name":"Seconds to Miliseconds","func":"msg.delay = msg.delay * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["954451b1.5d571"]]},{"id":"d1627efa.cef628","type":"change","z":"9ddacc72.069b1","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"SECONDS","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[["ba26b38f.4bb5b8"]]},{"id":"ba26b38f.4bb5b8","type":"function","z":"9ddacc72.069b1","name":"Seconds to Miliseconds","func":"msg.delay = msg.delay * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["94f1db24.106d28"]]},{"id":"b416afc8.7834b8","type":"switch","z":"9ddacc72.069b1","name":"if delay","property":"delay","propertyType":"flow","rules":[{"t":"true"},{"t":"false"},{"t":"null"}],"checkall":"false","repair":false,"outputs":3,"x":240,"y":320,"wires":[[],["83f8230d.9367b","2311e95d.d1bc2e"],["af488533.ad0cc8"]]},{"id":"94f1db24.106d28","type":"delay","z":"9ddacc72.069b1","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":40,"wires":[["40c54ddb.207604"]]},{"id":"40c54ddb.207604","type":"change","z":"9ddacc72.069b1","name":"set flow.delay false","rules":[{"t":"set","p":"delay","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[[]]},{"id":"b83242cb.0b5198","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["2e0cc0b5.ca3e8"]]},{"id":"4dc0eb2e.1cd05c","type":"debug","z":"167c2d98.9a7b32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":440,"wires":[]},{"id":"af488533.ad0cc8","type":"change","z":"9ddacc72.069b1","name":"if flow.delay is null set false","rules":[{"t":"set","p":"delay","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["83f8230d.9367b"]]},{"id":"2311e95d.d1bc2e","type":"change","z":"9ddacc72.069b1","name":"set flow.delay true","rules":[{"t":"set","p":"delay","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["d1627efa.cef628"]]},{"id":"4f5f4135.4257e8","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["e3a74bd0.23c12","a70219e8.d39a78"]]},{"id":"eb8195ef.49c628","type":"mqtt in","z":"1de28fac.c7f128","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"90e85e7.1f4d0a","x":180,"y":100,"wires":[["6e55d21f.b0651c"]]},{"id":"6e55d21f.b0651c","type":"function","z":"1de28fac.c7f128","name":"Check temperature","func":"var sensortype = msg.payload.TYPE;\n\nif (sensortype == \"temperature\") {\n    var sensor_temperature = msg.payload.DATA[0].VALUE;\n\n    let user_temperature = env.get(\"TEMPERATURE\");\n    if (env.get(\"COMPARISON\") == \"GREATER\") {\n    msg.payload = sensor_temperature > user_temperature;\n    }\n    else {\n        msg.payload = sensor_temperature < user_temperature;\n    }\n}\nelse msg = 0;\n\nreturn msg","outputs":1,"noerr":0,"x":460,"y":100,"wires":[[]]},{"id":"99c272ff.bd17d","type":"function","z":"f5799d1.fe6b36","name":"Increment state","func":"global.set(\"state\", global.get(\"state\") + 1);","outputs":0,"noerr":0,"x":330,"y":160,"wires":[]},{"id":"f6b3d0ba.91d708","type":"function","z":"b399f87.2de3e08","name":"Reset state","func":"global.set(\"state\", 0)","outputs":0,"noerr":0,"x":400,"y":120,"wires":[]},{"id":"60d8a3ad.fa8684","type":"switch","z":"9ddacc72.069b1","name":"if state","property":"state","propertyType":"global","rules":[{"t":"eq","v":"STATE","vt":"env"}],"checkall":"false","repair":false,"outputs":1,"x":90,"y":240,"wires":[["b416afc8.7834b8"]]},{"id":"3c7b94b3.70976c","type":"subflow:ea42de.870d152","z":"167c2d98.9a7b32","name":"","x":550,"y":280,"wires":[]},{"id":"68168a14.210084","type":"subflow:f6f27105.2ac6d","z":"167c2d98.9a7b32","name":"","x":490,"y":340,"wires":[]},{"id":"a70219e8.d39a78","type":"subflow:9ddacc72.069b1","z":"167c2d98.9a7b32","name":"","env":[{"name":"FREQUENCY","value":"EVERY","type":"str"}],"x":290,"y":300,"wires":[["3c7b94b3.70976c"]]},{"id":"e3a74bd0.23c12","type":"subflow:9ddacc72.069b1","z":"167c2d98.9a7b32","name":"","env":[{"name":"DELAY","value":"5","type":"num"},{"name":"FREQUENCY","value":"EVERY","type":"str"},{"name":"STATE","value":"1","type":"num"}],"x":290,"y":340,"wires":[["68168a14.210084"]]},{"id":"6f8e42f8.b0fd4c","type":"subflow:f5799d1.fe6b36","z":"167c2d98.9a7b32","name":"","x":560,"y":380,"wires":[]},{"id":"2e0cc0b5.ca3e8","type":"subflow:f6f27105.2ac6d","z":"167c2d98.9a7b32","name":"","env":[{"name":"VIBRATION","value":"2","type":"num"},{"name":"ACTION","value":"True","type":"str"}],"x":310,"y":440,"wires":[]},{"id":"3031879f.a8af78","type":"mqtt out","z":"b1c5a161.450a6","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":580,"y":180,"wires":[]},{"id":"7b53210.e16b06","type":"function","z":"b1c5a161.450a6","name":"","func":"let json = {\n        \"action\": {\n            \"module\": \"hardware\",\n            \"value\": \"torch\",\n            \"data\": {\n                \"torch\": [{\n                    \"active\": false\n                }],\n                \"default-sound\": \"sound.mp3\",\n                \"vibration\": env.get(\"VIBRATION\"),\n                \"loop\": false\n            },\n        },\n        \"aref\": \"string\",\n        \"filters\": []\n    }\n\nmsg.payload = JSON.stringify(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["3031879f.a8af78"]]},{"id":"c4c6eb8a.e1e4d","type":"switch","z":"b1c5a161.450a6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":180,"wires":[["7b53210.e16b06"]]},{"id":"48b1f8d0.1c381","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":580,"wires":[["956f215f.1f0688"]]},{"id":"b2ca5b01.b4bad8","type":"mqtt out","z":"4168f547.6a114c","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":580,"y":180,"wires":[]},{"id":"98a69c27.53526","type":"function","z":"4168f547.6a114c","name":"","func":"let json = {\n        \"action\": {\n            \"module\": \"hardware\",\n            \"value\": \"torch\",\n            \"data\": {\n                \"torch\": [{\n                    \"active\": true,\n                    \"seconds\": env.get(\"TIMER_ON\")\n                },\n                {\n                    \"active\": false,\n                    \"seconds\": env.get(\"TIMER_OFF\")\n                }],\n                \"default-sound\": \"sound.mp3\",\n                \"vibration\": env.get(\"VIBRATION\"),\n                \"loop\": true\n            },\n        },\n        \"aref\": \"string\",\n        \"filters\": []\n    }\n\nmsg.payload = JSON.stringify(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["b2ca5b01.b4bad8","ed161257.c2388"]]},{"id":"66531511.4534c4","type":"switch","z":"4168f547.6a114c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":180,"wires":[["98a69c27.53526"]]},{"id":"47d3eb5c.efce7c","type":"subflow:b1c5a161.450a6","z":"4168f547.6a114c","name":"","env":[],"x":610,"y":300,"wires":[]},{"id":"87381413.a2342","type":"delay","z":"4168f547.6a114c","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":320,"wires":[["a72ee7d6.0750e8"]]},{"id":"a72ee7d6.0750e8","type":"change","z":"4168f547.6a114c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":440,"wires":[["47d3eb5c.efce7c"]]},{"id":"a66bd312.ad2138","type":"change","z":"4168f547.6a114c","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"DURATION","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":320,"wires":[["be063951.d189c"]]},{"id":"be063951.d189c","type":"function","z":"4168f547.6a114c","name":"Seconds to Miliseconds","func":"msg.delay = msg.delay * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["87381413.a2342"]]},{"id":"ed161257.c2388","type":"switch","z":"4168f547.6a114c","name":"","property":"DURATION","propertyType":"env","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":260,"wires":[["a66bd312.ad2138"]]},{"id":"956f215f.1f0688","type":"subflow:4168f547.6a114c","z":"167c2d98.9a7b32","name":"","env":[{"name":"VIBRATION","value":"10","type":"num"},{"name":"TIMER_ON","value":"0.05","type":"num"},{"name":"TIMER_OFF","value":"0.05","type":"num"}],"x":320,"y":580,"wires":[]},{"id":"62f5d831.24f8f","type":"subflow:b1c5a161.450a6","z":"167c2d98.9a7b32","name":"","x":290,"y":620,"wires":[]},{"id":"576f79aa.413de","type":"subflow:ea42de.870d152","z":"167c2d98.9a7b32","name":"","env":[{"name":"TEXT","value":"hola pablito","type":"str"}],"x":570,"y":600,"wires":[]},{"id":"229c13f2.1d39f4","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["62f5d831.24f8f"]]},{"id":"f75679c0.7da7e8","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":660,"wires":[["576f79aa.413de"]]},{"id":"25ac286f.a0b668","type":"function","z":"34ac1fc0.ff7f5","name":"","func":"\nlet json = {\n    \"action\": {\n        \"module\": \"webview\",\n        \"value\": \"question\",\n\t\t\"data\": {\n\t\t    \"file\": env.get(\"URL\"),\n\t\t\t\"default-sound\": \"sound.mp3\",\n\t\t\t\"vibration\": env.get(\"VIBRATION\"),\n\t\t}\n\t}\n};\n\nmsg.payload = JSON.stringify(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["3a73d2d2.c89bbe"]]},{"id":"3a73d2d2.c89bbe","type":"mqtt out","z":"34ac1fc0.ff7f5","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":620,"y":180,"wires":[]},{"id":"ce596699.704fd8","type":"switch","z":"34ac1fc0.ff7f5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["25ac286f.a0b668"]]},{"id":"2b44445b.17ef5c","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":880,"wires":[["7b389932.30ea48"]]},{"id":"7b389932.30ea48","type":"subflow:9ddacc72.069b1","z":"167c2d98.9a7b32","name":"","env":[{"name":"DELAY","value":"5","type":"num"},{"name":"FREQUENCY","value":"ONCE","type":"str"}],"x":290,"y":900,"wires":[["ef028346.3e96d8"]]},{"id":"637f37b1.9338d8","type":"change","z":"9ddacc72.069b1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":400,"wires":[[]]},{"id":"ef028346.3e96d8","type":"subflow:f6f27105.2ac6d","z":"167c2d98.9a7b32","name":"","env":[],"x":460,"y":900,"wires":[]},{"id":"5b91bb1.b590144","type":"inject","z":"167c2d98.9a7b32","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":960,"wires":[["4b83ade1.bc4884"]]},{"id":"4b83ade1.bc4884","type":"subflow:b399f87.2de3e08","z":"167c2d98.9a7b32","name":"","x":260,"y":1000,"wires":[]},{"id":"99b1bdba.82661","type":"mqtt in","z":"735d4d84.8280e4","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"90e85e7.1f4d0a","x":180,"y":100,"wires":[["18061ebd.305541"]]},{"id":"18061ebd.305541","type":"function","z":"735d4d84.8280e4","name":"Check light","func":"var sensortype = msg.payload.TYPE;\n\nif (sensortype == \"light\") {\n    var sensor_light = msg.payload.DATA[4].VALUE;\n\n    let threshold = env.get(\"THRESHOLD\");\n    if (env.get(\"STATUS\") == \"ON\") {\n    msg.payload = sensor_light > threshold;\n    }\n    else {\n        msg.payload = sensor_light <= threshold;\n    }\n}\nelse msg = 0;\n\nreturn msg","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"93c67c95.dae828","type":"mqtt in","z":"8e91f18b.db1578","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"90e85e7.1f4d0a","x":60,"y":200,"wires":[["c0e4a38e.a38ea"]]},{"id":"eaf7508a.6d7ed8","type":"delay","z":"8e91f18b.db1578","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":260,"wires":[["ac130592.2e8b6"]]},{"id":"eec4944e.a6843","type":"function","z":"8e91f18b.db1578","name":"Check movement","func":"var sensortype = msg.payload.TYPE;\nif (sensortype == \"9dof_imu\") {\n    let action = env.get(\"ACTION\")\n    var sensor_az = msg.payload.DATA[2].VALUE;\n    var sensor_gz = msg.payload.DATA[5].VALUE;\n    \n    var checkposaz = false; \n    var checkposgz = false;\n    var checknegaz = false;\n    var checkneggz = false;\n    \n    switch(action) {\n    case \"UP\":\n        checkposaz = sensor_az > 17;\n        checkposgz = true;\n\n        checknegaz = false\n        checkneggz = true;\n    \n        msg.payload = (checkposaz && checkposgz) || (checknegaz && checkneggz);\n        break;\n        \n    case \"DOWN\":\n        checkposaz = sensor_az < -7;\n        checkposgz = true;\n\n\n        checknegaz = true;\n        checkneggz = false;\n    \n        msg.payload = (checkposaz && checkposgz) || (checknegaz && checkneggz);\n        break;\n    default:\n        msg.payload = 0;\n    }\n}\nelse msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["af0c3693.3f631"]]},{"id":"c0e4a38e.a38ea","type":"switch","z":"8e91f18b.db1578","name":"","property":"read","propertyType":"flow","rules":[{"t":"true"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":200,"wires":[["eec4944e.a6843"],["a845d17b.e67a88"]]},{"id":"a845d17b.e67a88","type":"change","z":"8e91f18b.db1578","name":"","rules":[{"t":"set","p":"read","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":260,"wires":[["eec4944e.a6843"]]},{"id":"af0c3693.3f631","type":"change","z":"8e91f18b.db1578","name":"","rules":[{"t":"set","p":"read","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":260,"wires":[["eaf7508a.6d7ed8"]]},{"id":"ac130592.2e8b6","type":"change","z":"8e91f18b.db1578","name":"","rules":[{"t":"set","p":"read","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":320,"wires":[[]]},{"id":"4d21f258.ea5c14","type":"subflow:8e91f18b.db1578","z":"167c2d98.9a7b32","name":"","env":[{"name":"ACTION","value":null,"type":"str"}],"x":640,"y":1060,"wires":[[]]}]