node-red/demo1.json
[{"id":"e48fa790.5396c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73cae7e7.64afd8","type":"inject","z":"e48fa790.5396c8","name":"","topic":"sensors/sensor1","payload":"sensor1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["6184b4ab.2e82fc"]]},{"id":"47064ae5.834eb4","type":"mqtt in","z":"e48fa790.5396c8","name":"","topic":"sensors/#","qos":"0","datatype":"auto","broker":"b97e35f0.968158","x":80,"y":340,"wires":[["a077970e.4a7c98","3749a59e.a72aca"]]},{"id":"6184b4ab.2e82fc","type":"mqtt out","z":"e48fa790.5396c8","name":"","topic":"","qos":"","retain":"","broker":"b97e35f0.968158","x":450,"y":180,"wires":[]},{"id":"a077970e.4a7c98","type":"debug","z":"e48fa790.5396c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":300,"wires":[]},{"id":"3749a59e.a72aca","type":"switch","z":"e48fa790.5396c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sensor1","vt":"str"},{"t":"eq","v":"sensor2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":440,"wires":[["269eb7ee.a251e8"],["9c7e12b8.1fb75"]]},{"id":"26054de5.b27762","type":"mqtt out","z":"e48fa790.5396c8","name":"","topic":"actuators/actuator2","qos":"","retain":"","broker":"b97e35f0.968158","x":750,"y":420,"wires":[]},{"id":"fef55e6b.8b72b","type":"inject","z":"e48fa790.5396c8","name":"","topic":"sensors/sensor2","payload":"sensor2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["6184b4ab.2e82fc"]]},{"id":"426b25fd.5168cc","type":"mqtt out","z":"e48fa790.5396c8","name":"","topic":"actuators/actuator1","qos":"","retain":"","broker":"b97e35f0.968158","x":750,"y":320,"wires":[]},{"id":"be7c7f0b.53584","type":"mqtt in","z":"e48fa790.5396c8","name":"","topic":"actuators/#","qos":"0","datatype":"auto","broker":"b97e35f0.968158","x":400,"y":560,"wires":[["c827a80e.61e858"]]},{"id":"c827a80e.61e858","type":"debug","z":"e48fa790.5396c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"269eb7ee.a251e8","type":"change","z":"e48fa790.5396c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"actuator1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["426b25fd.5168cc"]]},{"id":"9c7e12b8.1fb75","type":"change","z":"e48fa790.5396c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"actuator2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["26054de5.b27762"]]},{"id":"b97e35f0.968158","type":"mqtt-broker","z":"","name":"test-broker","broker":"mqtt","port":"1883","clientid":"test-client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]