node-red/fdb.json
[{"id":"caab0dd2.c0496","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"6ac7f23d.fb1964","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"fab5eb9f.5edd78","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"true","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#DDAA99"},{"id":"b07c082e.1641a8","type":"subflow","name":"Turn on/off relay","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"b9f583c4.3abcd8"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"8dfc2ecc.04fb4","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0fd36d1.f4a9b","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"84c3e4b3.1ae46","type":"inject","z":"caab0dd2.c0496","name":"Glove light simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["b60e5083.1fadf"]]},{"id":"b60e5083.1fadf","type":"mqtt out","z":"caab0dd2.c0496","name":"","topic":"light-topic","qos":"","retain":"","broker":"d0fd36d1.f4a9b","x":360,"y":100,"wires":[]},{"id":"303be8e5.d531a8","type":"mqtt in","z":"6ac7f23d.fb1964","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"d0fd36d1.f4a9b","x":120,"y":80,"wires":[["fab5eb9f.5edd78"]]},{"id":"fab5eb9f.5edd78","type":"function","z":"6ac7f23d.fb1964","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"2e83425d.758cfe","type":"subflow:6ac7f23d.fb1964","z":"caab0dd2.c0496","name":"","env":[{"name":"TOPIC","value":"light-topic","type":"str"},{"name":"COLOUR","value":"RED","type":"str"}],"x":170,"y":240,"wires":[["31715789.f9331"]]},{"id":"4aede0bc.c646c8","type":"mqtt out","z":"b07c082e.1641a8","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"d0fd36d1.f4a9b","x":580,"y":140,"wires":[]},{"id":"b9f583c4.3abcd8","type":"switch","z":"b07c082e.1641a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["d0177090.cf8da8"]]},{"id":"31715789.f9331","type":"subflow:b07c082e.1641a8","z":"caab0dd2.c0496","name":"","env":[{"name":"TOPIC","value":"relay-topic","type":"str"},{"name":"ACTION","value":"on","type":"str"},{"name":"SECONDS","value":"3000","type":"num"}],"x":420,"y":240,"wires":[]},{"id":"d0177090.cf8da8","type":"function","z":"b07c082e.1641a8","name":"","func":"\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["4aede0bc.c646c8"]]}]