node-red/fdb.json
[{"id":"167c2d98.9a7b32","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"ea73f7d.c54dc08","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"ff15da69.39b348","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#DDAA99"},{"id":"767f43ca.22da3c","type":"subflow","name":"Turn on/off relay","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"35d7cb11.3d4b44"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"90e85e7.1f4d0a","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dad7b2bf.9eee9","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a74e06e9.8762c8","type":"inject","z":"167c2d98.9a7b32","name":"Glove light simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["86ffddf7.45aea"]]},{"id":"86ffddf7.45aea","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"lights-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":370,"y":100,"wires":[]},{"id":"4d7606da.422468","type":"mqtt in","z":"ea73f7d.c54dc08","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"dad7b2bf.9eee9","x":120,"y":80,"wires":[["ff15da69.39b348"]]},{"id":"ff15da69.39b348","type":"function","z":"ea73f7d.c54dc08","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"cad078f1.9d2a18","type":"subflow:ea73f7d.c54dc08","z":"167c2d98.9a7b32","name":"","env":[{"name":"TOPIC","value":"omar","type":"str"},{"name":"COLOUR","value":"RED","type":"str"}],"x":170,"y":240,"wires":[["a356c1c3.db579"]]},{"id":"773e7c86.804b14","type":"mqtt out","z":"767f43ca.22da3c","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":580,"y":140,"wires":[]},{"id":"35d7cb11.3d4b44","type":"switch","z":"767f43ca.22da3c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["68b471fd.01ac1"]]},{"id":"a356c1c3.db579","type":"subflow:767f43ca.22da3c","z":"167c2d98.9a7b32","name":"","env":[{"name":"TOPIC","value":"relay-topic","type":"str"},{"name":"ACTION","value":"off","type":"str"},{"name":"SECONDS","value":"3000","type":"num"}],"x":420,"y":240,"wires":[]},{"id":"68b471fd.01ac1","type":"function","z":"767f43ca.22da3c","name":"","func":"\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["773e7c86.804b14"]]}]