node-red/flows.json
[
    {
        "id": "167c2d98.9a7b32",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70e2f0d.063819",
        "type": "subflow",
        "name": "Kalliope text w/background",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "113ae49f.935ad3"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "TEXT",
                "type": "str",
                "value": ""
            },
            {
                "name": "BACKGROUND",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "81b0ca96.c7919",
        "type": "subflow",
        "name": "Turn off flashlights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 160,
                "wires": [
                    {
                        "id": "b842637b.fa5258"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "9edabd25.dfa508",
        "type": "subflow",
        "name": "Turn on flashlights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 180,
                "wires": [
                    {
                        "id": "ec4140b4.92db98"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8f41a591.86306",
        "type": "subflow",
        "name": "Detect door movement (0 close 1 open)",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "dad9556c.0b8ea",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": ""
            },
            {
                "name": "SENSOR_ID",
                "type": "num",
                "value": ""
            },
            {
                "name": "DOORSTATUS",
                "type": "num",
                "value": ""
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "407d3627.c8d94",
        "type": "subflow",
        "name": "Detect color light",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "6e86b0fe.e3a1d8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Topic"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "SENSOR_ID",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Sensor ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "COLOUR",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Colour"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "RED"
                                },
                                "v": "RED"
                            },
                            {
                                "l": {
                                    "en-US": "GREEN"
                                },
                                "v": "GREEN"
                            },
                            {
                                "l": {
                                    "en-US": "YELLOW"
                                },
                                "v": "YELLOW"
                            },
                            {
                                "l": {
                                    "en-US": "BLUE"
                                },
                                "v": "BLUE"
                            },
                            {
                                "l": {
                                    "en-US": "DARK"
                                },
                                "v": "DARK"
                            },
                            {
                                "l": {
                                    "en-US": "WHITE"
                                },
                                "v": "WHITE"
                            }
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "c8428cb3.c20e9",
        "type": "subflow",
        "name": "Turn on/off relay",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "93730624.4ca248"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Topic"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "RELAY_ID",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Relay ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "ACTION",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Power on"
                                },
                                "v": "on"
                            },
                            {
                                "l": {
                                    "en-US": "Power off"
                                },
                                "v": "off"
                            }
                        ]
                    }
                }
            },
            {
                "name": "SECONDS",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Seconds"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "b48d8e6d.89f5a8",
        "type": "subflow",
        "name": "Detect temperature",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "83183911.d2f2f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Topic"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "SENSOR_ID",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Sensor ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "TEMPERATURE",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Temperature"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "dad7b2bf.9eee9",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "90e85e7.1f4d0a",
        "type": "mqtt-broker",
        "z": "",
        "name": "fura",
        "broker": "mqtt.iglor.es",
        "port": "8080",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4faf1b60.36964c",
        "type": "function",
        "z": "70e2f0d.063819",
        "name": "",
        "func": "\nlet json = '{'+\n'    \"action\": {'+\n'        \"module\": \"multimedia\",'+\n'        \"value\": \"text\",'+\n'        \"data\": {'+\n'            \"file\": \"' + env.get(\"TEXT\") + '\",'+\n'            \"default-sound\": \"sound.mp3\",'+\n'            \"vibration\": 0.5,'+\n'            \"background-color\": \"#' + env.get(\"BACKGROUND\") + '\"'+\n'        },'+\n'        \"aref\": \"string\"'+\n'    }'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "31714c14.4d2734"
            ]
        ]
    },
    {
        "id": "31714c14.4d2734",
        "type": "mqtt out",
        "z": "70e2f0d.063819",
        "name": "kalliope",
        "topic": "3522109c644e08605c46308a880dcb7d/smartphone",
        "qos": "",
        "retain": "",
        "broker": "90e85e7.1f4d0a",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "113ae49f.935ad3",
        "type": "switch",
        "z": "70e2f0d.063819",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4faf1b60.36964c"
            ]
        ]
    },
    {
        "id": "28efab0a.eb092c",
        "type": "function",
        "z": "81b0ca96.c7919",
        "name": "",
        "func": "\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": false,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "5c95970b.f4fed"
            ]
        ]
    },
    {
        "id": "5c95970b.f4fed",
        "type": "mqtt out",
        "z": "81b0ca96.c7919",
        "name": "kalliope",
        "topic": "3522109c644e08605c46308a880dcb7d/smartphone",
        "qos": "",
        "retain": "",
        "broker": "90e85e7.1f4d0a",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "b842637b.fa5258",
        "type": "switch",
        "z": "81b0ca96.c7919",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "28efab0a.eb092c"
            ]
        ]
    },
    {
        "id": "a5d0c852.900c28",
        "type": "mqtt out",
        "z": "9edabd25.dfa508",
        "name": "kalliope",
        "topic": "3522109c644e08605c46308a880dcb7d/smartphone",
        "qos": "",
        "retain": "",
        "broker": "90e85e7.1f4d0a",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa850399.0409d8",
        "type": "function",
        "z": "9edabd25.dfa508",
        "name": "",
        "func": "\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": true,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "a5d0c852.900c28"
            ]
        ]
    },
    {
        "id": "ec4140b4.92db98",
        "type": "switch",
        "z": "9edabd25.dfa508",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "fa850399.0409d8"
            ]
        ]
    },
    {
        "id": "cda57b5e.ef4ff",
        "type": "mqtt in",
        "z": "8f41a591.86306",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "json",
        "broker": "dad7b2bf.9eee9",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "dad9556c.0b8ea"
            ]
        ]
    },
    {
        "id": "dad9556c.0b8ea",
        "type": "function",
        "z": "8f41a591.86306",
        "name": "Check door action",
        "func": "\nvar doorstat = msg.payload.DATA[0].VALUE;\n\nlet door_movement = env.get(\"DOORSTATUS\");\n\nmsg.payload = door_movement == doorstat;\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a74e06e9.8762c8",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "Glove light simulator",
        "topic": "",
        "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "86ffddf7.45aea"
            ]
        ]
    },
    {
        "id": "86ffddf7.45aea",
        "type": "mqtt out",
        "z": "167c2d98.9a7b32",
        "name": "",
        "topic": "lights-topic",
        "qos": "",
        "retain": "",
        "broker": "dad7b2bf.9eee9",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bba2718.7e2f18",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "Glove temperature simulator",
        "topic": "",
        "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"temperature\",\"DATA\":[{\"NAME\":\"degC\",\"VALUE\":23,\"DELTA_T\":3260}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "89322093.c21ea"
            ]
        ]
    },
    {
        "id": "89322093.c21ea",
        "type": "mqtt out",
        "z": "167c2d98.9a7b32",
        "name": "",
        "topic": "temperature-topic",
        "qos": "",
        "retain": "",
        "broker": "dad7b2bf.9eee9",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "15ac36f6.15ec01",
        "type": "mqtt out",
        "z": "167c2d98.9a7b32",
        "name": "kalliope",
        "topic": "3522109c644e08605c46308a880dcb7d/smartphone",
        "qos": "",
        "retain": "",
        "broker": "90e85e7.1f4d0a",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "35e59684.d7ef3a",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "apagar llenterna",
        "topic": "",
        "payload": "{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":false,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "15ac36f6.15ec01"
            ]
        ]
    },
    {
        "id": "6ac14011.f7bbf",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "encendre llenterna",
        "topic": "",
        "payload": "{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":true,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 700,
        "wires": [
            [
                "15ac36f6.15ec01"
            ]
        ]
    },
    {
        "id": "fd3af5c7.450bb8",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "text que diu ola",
        "topic": "",
        "payload": "{\"action\":{\"module\":\"multimedia\",\"value\":\"text\",\"data\":{\"file\":\"ola\",\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"background-color\":\"#00FFFF\"},\"aref\":\"string\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 820,
        "wires": [
            [
                "15ac36f6.15ec01"
            ]
        ]
    },
    {
        "id": "dd19daf9.ac58d",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "Door simulator - OPEN",
        "topic": "",
        "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "eb12ae96.f0076"
            ]
        ]
    },
    {
        "id": "eb12ae96.f0076",
        "type": "mqtt out",
        "z": "167c2d98.9a7b32",
        "name": "",
        "topic": "door-topic",
        "qos": "",
        "retain": "",
        "broker": "dad7b2bf.9eee9",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "ed4d020d.5d9f78",
        "type": "subflow:8f41a591.86306",
        "z": "167c2d98.9a7b32",
        "name": "",
        "env": [
            {
                "name": "TOPIC",
                "value": "door-topic",
                "type": "str"
            },
            {
                "name": "DOORSTATUS",
                "value": "1",
                "type": "num"
            },
            {
                "name": "VALUE",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "8f537bcc.834378",
                "64834b56.c4473c"
            ]
        ]
    },
    {
        "id": "8f537bcc.834378",
        "type": "subflow:9edabd25.dfa508",
        "z": "167c2d98.9a7b32",
        "name": "",
        "env": [],
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e50771.12f4e08",
        "type": "subflow:81b0ca96.c7919",
        "z": "167c2d98.9a7b32",
        "name": "",
        "env": [],
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "aee780cd.c23f18",
        "type": "subflow:8f41a591.86306",
        "z": "167c2d98.9a7b32",
        "name": "",
        "env": [
            {
                "name": "TOPIC",
                "value": "door-topic",
                "type": "str"
            },
            {
                "name": "DOORSTATUS",
                "value": "0",
                "type": "num"
            },
            {
                "name": "VALUE",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 250,
        "y": 380,
        "wires": [
            [
                "4e50771.12f4e08"
            ]
        ]
    },
    {
        "id": "c9274df0.1c9278",
        "type": "inject",
        "z": "167c2d98.9a7b32",
        "name": "Door simulator - CLOSE",
        "topic": "",
        "payload": "{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "eb12ae96.f0076"
            ]
        ]
    },
    {
        "id": "64834b56.c4473c",
        "type": "subflow:70e2f0d.063819",
        "z": "167c2d98.9a7b32",
        "name": "",
        "env": [
            {
                "name": "TEXT",
                "value": "hola amigos",
                "type": "str"
            },
            {
                "name": "BACKGROUND",
                "value": "AAAA00",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "b7d16ca5.a520c8",
        "type": "mqtt in",
        "z": "407d3627.c8d94",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "json",
        "broker": "dad7b2bf.9eee9",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6e86b0fe.e3a1d8"
            ]
        ]
    },
    {
        "id": "6e86b0fe.e3a1d8",
        "type": "function",
        "z": "407d3627.c8d94",
        "name": "Check colour",
        "func": "\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8334caba.1312c8",
        "type": "mqtt out",
        "z": "c8428cb3.c20e9",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "",
        "retain": "",
        "broker": "dad7b2bf.9eee9",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "93730624.4ca248",
        "type": "switch",
        "z": "c8428cb3.c20e9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "6a2dae4f.6e60f"
            ]
        ]
    },
    {
        "id": "6a2dae4f.6e60f",
        "type": "function",
        "z": "c8428cb3.c20e9",
        "name": "",
        "func": "\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "8334caba.1312c8"
            ]
        ]
    },
    {
        "id": "e82ec6b1.01b89",
        "type": "mqtt in",
        "z": "b48d8e6d.89f5a8",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "json",
        "broker": "dad7b2bf.9eee9",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "83183911.d2f2f"
            ]
        ]
    },
    {
        "id": "83183911.d2f2f",
        "type": "function",
        "z": "b48d8e6d.89f5a8",
        "name": "Check temperature",
        "func": "\nvar sensor_temperature = msg.payload.DATA[0].VALUE;\n\nlet user_temperature = env.get(\"TEMPERATURE\");\n\nmsg.payload = sensor_temperature == user_temperature;\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    }
]