node-red/flows.json
[{"id":"167c2d98.9a7b32","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"934da7ae.029e","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"e04a0ca8.026368","type":"tab","label":"SIMULATORS","disabled":false,"info":""},{"id":"c8428cb3.c20e9","type":"subflow","name":"Turn on/off relay","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"93730624.4ca248"}]}],"out":[],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"RELAY_ID","type":"str","value":"","ui":{"label":{"en-US":"Relay ID"},"type":"input","opts":{"types":["str"]}}},{"name":"ACTION","type":"str","value":"","ui":{"label":{"en-US":"Action"},"type":"select","opts":{"opts":[{"l":{"en-US":"Power on"},"v":"on"},{"l":{"en-US":"Power off"},"v":"off"}]}}},{"name":"SECONDS","type":"num","value":"","ui":{"label":{"en-US":"Seconds"},"type":"input","opts":{"types":["num"]}}}],"color":"#DDAA99"},{"id":"b48d8e6d.89f5a8","type":"subflow","name":"Detect temperature","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"83183911.d2f2f","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"TEMPERATURE","type":"num","value":"","ui":{"label":{"en-US":"Temperature"},"type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5"},{"id":"3037392c.848006","type":"subflow","name":"Detect color light","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"361d4914.dc119e","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":"true","ui":{"label":{"en-US":"Topic"},"type":"input","opts":{"types":["str"]}}},{"name":"SENSOR_ID","type":"str","value":"","ui":{"label":{"en-US":"Sensor ID"},"type":"input","opts":{"types":["str"]}}},{"name":"COLOUR","type":"str","value":"","ui":{"label":{"en-US":"Colour"},"type":"select","opts":{"opts":[{"l":{"en-US":"RED"},"v":"RED"},{"l":{"en-US":"GREEN"},"v":"GREEN"},{"l":{"en-US":"YELLOW"},"v":"YELLOW"},{"l":{"en-US":"BLUE"},"v":"BLUE"},{"l":{"en-US":"DARK"},"v":"DARK"},{"l":{"en-US":"WHITE"},"v":"WHITE"}]}}}],"color":"#3FADB5"},{"id":"49a7db5d.84b094","type":"subflow","name":"Detect Movement","info":"","category":"","in":[],"out":[{"x":520,"y":200,"wires":[{"id":"4f53cc1f.8b0f6c","port":0}]}],"env":[{"name":"DETECT","type":"bool","value":"true"},{"name":"TOPIC","type":"str","value":""}],"color":"#3FADB5"},{"id":"ea42de.870d152","type":"subflow","name":"Kalliope text with background","info":"","category":"","in":[{"x":80,"y":180,"wires":[{"id":"ad33842e.30fe88"}]}],"out":[],"env":[{"name":"TEXT","type":"str","value":""},{"name":"BACKGROUND","type":"str","value":""},{"name":"VIBRATION","type":"num","value":""}],"color":"#DDAA99"},{"id":"7dfcabe.7edd2d4","type":"subflow","name":"Turn off flashlights","info":"","category":"","in":[{"x":200,"y":160,"wires":[{"id":"74a90d4b.27fe0c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"f6f27105.2ac6d","type":"subflow","name":"Turn on flashlights","info":"","category":"","in":[{"x":100,"y":180,"wires":[{"id":"9f29e060.e16a48"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"bc10a0bc.82e968","type":"subflow","name":"Detect door movement (0 close 1 open)","info":"","category":"","in":[],"out":[{"x":660,"y":100,"wires":[{"id":"f2d73ab5.812548","port":0}]}],"env":[{"name":"TOPIC","type":"str","value":""},{"name":"SENSOR_ID","type":"num","value":""},{"name":"DOORSTATUS","type":"num","value":""}],"color":"#3FADB5"},{"id":"feccd02.8226b3","type":"subflow","name":"Detect bomb","info":"","category":"","in":[],"out":[{"x":660,"y":160,"wires":[{"id":"b4d706e.878c178","port":0}]}],"env":[],"color":"#3FADB5"},{"id":"dad7b2bf.9eee9","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"90e85e7.1f4d0a","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec77491a.f0fda","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"26cabb6a.f4edb4","type":"mqtt-broker","z":"","name":"fura","broker":"mqtt.iglor.es","port":"8080","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e12f50ae.4d0d48","type":"mqtt-broker","z":"","name":"localhost","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a74e06e9.8762c8","type":"inject","z":"167c2d98.9a7b32","name":"Glove light simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":10,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["86ffddf7.45aea"]]},{"id":"86ffddf7.45aea","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"lights-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":490,"y":120,"wires":[]},{"id":"3bba2718.7e2f18","type":"inject","z":"167c2d98.9a7b32","name":"Glove temperature simulator","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"temperature\",\"DATA\":[{\"NAME\":\"degC\",\"VALUE\":23,\"DELTA_T\":3260}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":60,"wires":[["89322093.c21ea"]]},{"id":"89322093.c21ea","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"temperature-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":510,"y":60,"wires":[]},{"id":"15ac36f6.15ec01","type":"mqtt out","z":"167c2d98.9a7b32","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"90e85e7.1f4d0a","x":500,"y":760,"wires":[]},{"id":"35e59684.d7ef3a","type":"inject","z":"167c2d98.9a7b32","name":"apagar llenterna","topic":"","payload":"{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":false,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":760,"wires":[["15ac36f6.15ec01"]]},{"id":"6ac14011.f7bbf","type":"inject","z":"167c2d98.9a7b32","name":"encendre llenterna","topic":"","payload":"{\"action\":{\"module\":\"hardware\",\"value\":\"torch\",\"data\":{\"torch\":[{\"active\":true,\"seconds\":1}],\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"loop\":false},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":700,"wires":[["15ac36f6.15ec01"]]},{"id":"fd3af5c7.450bb8","type":"inject","z":"167c2d98.9a7b32","name":"text que diu ola","topic":"","payload":"{\"action\":{\"module\":\"multimedia\",\"value\":\"text\",\"data\":{\"file\":\"ola\",\"default-sound\":\"sound.mp3\",\"vibration\":0.5,\"background-color\":\"#00FFFF\"},\"aref\":\"string\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["15ac36f6.15ec01"]]},{"id":"dd19daf9.ac58d","type":"inject","z":"167c2d98.9a7b32","name":"Door simulator - OPEN","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["eb12ae96.f0076"]]},{"id":"eb12ae96.f0076","type":"mqtt out","z":"167c2d98.9a7b32","name":"","topic":"door-topic","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":510,"y":200,"wires":[]},{"id":"c9274df0.1c9278","type":"inject","z":"167c2d98.9a7b32","name":"Door simulator - CLOSE","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["eb12ae96.f0076"]]},{"id":"8334caba.1312c8","type":"mqtt out","z":"c8428cb3.c20e9","name":"","topic":"${TOPIC}","qos":"","retain":"","broker":"dad7b2bf.9eee9","x":580,"y":140,"wires":[]},{"id":"93730624.4ca248","type":"switch","z":"c8428cb3.c20e9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":140,"wires":[["6a2dae4f.6e60f"]]},{"id":"6a2dae4f.6e60f","type":"function","z":"c8428cb3.c20e9","name":"","func":"\nlet json = '{' +\n        '\"TY\": \"ACTION\",' +\n        '\"ID\": \"relay\",' +\n        '\"VALUE\":\"' + env.get(\"ACTION\") + '\",' +\n        '\"DELTA_T\":\"' + env.get(\"SECONDS\") + '\"}';\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["8334caba.1312c8"]]},{"id":"e82ec6b1.01b89","type":"mqtt in","z":"b48d8e6d.89f5a8","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"dad7b2bf.9eee9","x":190,"y":100,"wires":[["83183911.d2f2f"]]},{"id":"83183911.d2f2f","type":"function","z":"b48d8e6d.89f5a8","name":"Check temperature","func":"\nvar sensor_temperature = msg.payload.DATA[0].VALUE;\n\nlet user_temperature = env.get(\"TEMPERATURE\");\n\nmsg.payload = sensor_temperature == user_temperature;\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"799bfa9.6af3f84","type":"mqtt in","z":"3037392c.848006","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"ec77491a.f0fda","x":120,"y":80,"wires":[["361d4914.dc119e"]]},{"id":"361d4914.dc119e","type":"function","z":"3037392c.848006","name":"Check colour","func":"\nvar colour_R = msg.payload.DATA[0].VALUE;\nvar colour_G = msg.payload.DATA[1].VALUE;\nvar colour_B = msg.payload.DATA[2].VALUE;\nvar lum = msg.payload.DATA[4].VALUE;\n\nlet colour = env.get(\"COLOUR\")\n\nswitch(colour) {\n    case \"RED\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"GREEN\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"YELLOW\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"BLUE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"DARK\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    case \"WHITE\":\n        msg.payload = ((colour_R === 255) && (colour_G === 255) && (colour_B === 255) && (lum >= 10))\n        break;\n    default:\n        msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"d2a9d45c.516e78","type":"switch","z":"49a7db5d.84b094","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":200,"wires":[["4f53cc1f.8b0f6c"]]},{"id":"4f53cc1f.8b0f6c","type":"function","z":"49a7db5d.84b094","name":"","func":"msg.payload = env.get(\"DETECT\")\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[[]]},{"id":"497914d1.cc3bb4","type":"mqtt in","z":"49a7db5d.84b094","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"e12f50ae.4d0d48","x":80,"y":200,"wires":[["d2a9d45c.516e78"]]},{"id":"aa006bb5.dfdda8","type":"function","z":"ea42de.870d152","name":"","func":"\nlet json = '{'+\n'    \"action\": {'+\n'        \"module\": \"multimedia\",'+\n'        \"value\": \"text\",'+\n'        \"data\": {'+\n'            \"file\": \"' + env.get(\"TEXT\") + '\",'+\n'            \"default-sound\": \"sound.mp3\",'+\n'            \"vibration\": \"' + env.get(\"VIBRATION\") + '\",' +\n'            \"background-color\": \"#' + env.get(\"BACKGROUND\") + '\"'+\n'        },'+\n'        \"aref\": \"string\"'+\n'    }'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["f81473db.d98b38"]]},{"id":"f81473db.d98b38","type":"mqtt out","z":"ea42de.870d152","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":620,"y":180,"wires":[]},{"id":"ad33842e.30fe88","type":"switch","z":"ea42de.870d152","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["aa006bb5.dfdda8"]]},{"id":"643a86f3.279e58","type":"function","z":"7dfcabe.7edd2d4","name":"","func":"\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": false,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["cdc6c240.734ff"]]},{"id":"cdc6c240.734ff","type":"mqtt out","z":"7dfcabe.7edd2d4","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":700,"y":160,"wires":[]},{"id":"74a90d4b.27fe0c","type":"switch","z":"7dfcabe.7edd2d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":160,"wires":[["643a86f3.279e58"]]},{"id":"c7de82e0.d34c7","type":"mqtt out","z":"f6f27105.2ac6d","name":"kalliope","topic":"3522109c644e08605c46308a880dcb7d/smartphone","qos":"","retain":"","broker":"26cabb6a.f4edb4","x":640,"y":180,"wires":[]},{"id":"278e1c39.e78804","type":"function","z":"f6f27105.2ac6d","name":"","func":"\nlet json = '{'+\n'\t\"action\": {'+\n'\t\t\"module\": \"hardware\",'+\n'\t\t\"value\": \"torch\",'+\n'\t\t\"data\": {'+\n'\t\t\t\"torch\": [{'+\n'\t\t\t\t\"active\": true,'+\n'\t\t\t\t\"seconds\": 1'+\n'\t\t\t}],'+\n'\t\t\t\"default-sound\": \"sound.mp3\",'+\n'\t\t\t\"vibration\": 0.5,'+\n'\t\t\t\"loop\": false'+\n'\t\t},'+\n'\t\t\"aref\": \"string\"'+\n'\t}'+\n'}'\n\nmsg.payload = JSON.parse(json)\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["c7de82e0.d34c7"]]},{"id":"9f29e060.e16a48","type":"switch","z":"f6f27105.2ac6d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":180,"wires":[["278e1c39.e78804"]]},{"id":"e38046f2.a7a98","type":"mqtt in","z":"bc10a0bc.82e968","name":"","topic":"${TOPIC}","qos":"2","datatype":"json","broker":"e12f50ae.4d0d48","x":240,"y":100,"wires":[["f2d73ab5.812548"]]},{"id":"f2d73ab5.812548","type":"function","z":"bc10a0bc.82e968","name":"Check door action","func":"\nvar doorstat = msg.payload.DATA[0].VALUE;\n\nlet door_movement = env.get(\"DOORSTATUS\");\n\nmsg.payload = door_movement == doorstat;\n\n\nreturn msg","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"7fecda90.757d9c","type":"subflow:bc10a0bc.82e968","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"door-topic","type":"str"},{"name":"DOORSTATUS","value":"1","type":"num"},{"name":"VALUE","value":"1","type":"num"}],"x":210,"y":60,"wires":[["310b2465.61eaa4","452f7d74.eab50c"]]},{"id":"310b2465.61eaa4","type":"subflow:f6f27105.2ac6d","z":"934da7ae.029e","name":"","env":[],"x":510,"y":80,"wires":[]},{"id":"f97ac25e.199f4","type":"subflow:7dfcabe.7edd2d4","z":"934da7ae.029e","name":"","env":[],"x":510,"y":140,"wires":[]},{"id":"8d6e29f0.ff3da","type":"subflow:bc10a0bc.82e968","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"door-topic","type":"str"},{"name":"DOORSTATUS","value":"0","type":"num"},{"name":"VALUE","value":"1","type":"num"}],"x":210,"y":160,"wires":[["f97ac25e.199f4","fa128f9f.a7e778"]]},{"id":"452f7d74.eab50c","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Bienvenido a Senor Escape Room. OOOUUU MAMA!","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":40,"wires":[]},{"id":"fa128f9f.a7e778","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"No has escapado, suerte en la vida.","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":180,"wires":[]},{"id":"c0048cee.2b9508","type":"subflow:49a7db5d.84b094","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"detect-topic-inc","type":"str"}],"x":150,"y":240,"wires":[["16c8a5f9.21da4a"]]},{"id":"16c8a5f9.21da4a","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Has fracasado, como en la vida. Vuelve a intentarlo!","type":"str"},{"name":"BACKGROUND","value":"FF5733","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":240,"wires":[]},{"id":"3a03d4c6.4d824c","type":"subflow:49a7db5d.84b094","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"detect-topic-corr","type":"str"}],"x":150,"y":320,"wires":[["d45a36ee.956c78"]]},{"id":"d45a36ee.956c78","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Por fin haces algo bien!","type":"str"},{"name":"BACKGROUND","value":"4FFF33","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":320,"wires":[]},{"id":"5a52712c.8594f","type":"subflow:3037392c.848006","z":"934da7ae.029e","name":"","env":[{"name":"TOPIC","value":"lights-topic","type":"str"},{"name":"COLOUR","value":"WHITE","type":"str"}],"x":140,"y":380,"wires":[["1070bfc4.2637"]]},{"id":"1070bfc4.2637","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"Desactiva la bomba, buena suerte!","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":380,"wires":[]},{"id":"e504f162.17aec8","type":"inject","z":"e04a0ca8.026368","name":"Door simulator - OPEN","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":1}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["cab08c5a.df5f"]]},{"id":"cab08c5a.df5f","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"door-topic","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":770,"y":220,"wires":[]},{"id":"74dc37ed.70bef8","type":"inject","z":"e04a0ca8.026368","name":"Door simulator - CLOSE","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"door\",\"DATA\":[{\"NAME\":\"door_stat\",\"VALUE\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["cab08c5a.df5f"]]},{"id":"e7fc30ae.9aa378","type":"inject","z":"e04a0ca8.026368","name":"Activador para enviar texto a Kalliope","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["6d186070.ad34b"]]},{"id":"6d186070.ad34b","type":"subflow:ea42de.870d152","z":"e04a0ca8.026368","name":"","env":[{"name":"TEXT","value":"La vida son decisiones, elige. IZQUIERDA O RECTO!!","type":"str"},{"name":"BACKGROUND","value":"AAAA00","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":610,"y":120,"wires":[]},{"id":"1c645f68.43ece1","type":"inject","z":"e04a0ca8.026368","name":"Activador para detectar movimiento incorrecto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["88c4f21.afbbc9"]]},{"id":"68b2b521.79694c","type":"inject","z":"e04a0ca8.026368","name":"Activador para detectar movimiento correcto","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":260,"wires":[["7b7c0481.6a04ac"]]},{"id":"88c4f21.afbbc9","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"detect-topic-inc","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":580,"y":180,"wires":[]},{"id":"7b7c0481.6a04ac","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"detect-topic-corr","qos":"","retain":"","broker":"e12f50ae.4d0d48","x":550,"y":260,"wires":[]},{"id":"57192f2.b25e5d","type":"inject","z":"e04a0ca8.026368","name":"Activador de llum blanca","topic":"","payload":"{\"BOARD_ID\":\"Sensor_1\",\"TYPE\":\"light\",\"DATA\":[{\"NAME\":\"red\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"green\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"blue\",\"VALUE\":255,\"DELTA_T\":4775},{\"NAME\":\"clear\",\"VALUE\":0,\"DELTA_T\":4775},{\"NAME\":\"lux\",\"VALUE\":100,\"DELTA_T\":4775}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["c70a94a3.e58bc"]]},{"id":"c70a94a3.e58bc","type":"mqtt out","z":"e04a0ca8.026368","name":"","topic":"lights-topic","qos":"","retain":"","broker":"ec77491a.f0fda","x":490,"y":320,"wires":[]},{"id":"bc3e7cda.d3f4b8","type":"mqtt in","z":"feccd02.8226b3","name":"","topic":"3522109c644e08605c46308a880dcb7d/raspberry","qos":"2","datatype":"auto","broker":"90e85e7.1f4d0a","x":190,"y":160,"wires":[["b4d706e.878c178"]]},{"id":"50f86ef.1a1429","type":"subflow:feccd02.8226b3","z":"934da7ae.029e","name":"","x":130,"y":440,"wires":[["908378a3.569a7","ddbeaf8a.66b2"]]},{"id":"908378a3.569a7","type":"subflow:ea42de.870d152","z":"934da7ae.029e","name":"","env":[{"name":"TEXT","value":"BOOOOOOM!!! HAS MUERTO PAE","type":"str"},{"name":"BACKGROUND","value":"FF5733","type":"str"},{"name":"VIBRATION","value":"0.5","type":"num"}],"x":550,"y":460,"wires":[]},{"id":"e1ac210c.8f387","type":"debug","z":"feccd02.8226b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":260,"wires":[]},{"id":"b4d706e.878c178","type":"change","z":"feccd02.8226b3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["e1ac210c.8f387"]]},{"id":"7aa15c37.4e3a6c","type":"subflow:f6f27105.2ac6d","z":"934da7ae.029e","name":"","env":[],"x":510,"y":80,"wires":[]},{"id":"ddbeaf8a.66b2","type":"subflow:f6f27105.2ac6d","z":"934da7ae.029e","name":"","env":[],"x":510,"y":520,"wires":[]}]